<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>Hi Team,</h4>

<p>I am writing to inform you that I would like to request casual leave for [number of days] days from [start date] to
    [end date]. The reason for my leave is [brief reason for leave, such as personal reasons, family emergency, etc.].
    During my absence, I will ensure that all pending tasks are completed or delegated to a colleague. In case of any
    urgent matters, I can be reached at [your contact details].

    I kindly request you to approve my leave.

    Thank you for your understanding.</p>
<h4>Regards,</h4>
<h5>BhuvaneswaranVijayan v</h5>
</body>
</html>